# Deep Learning frameworks
torch>=2.4.1
torchaudio>=2.4.1
torchvggish>=0.2
openai-whisper>=20250625

# Transformers for MERT model
transformers>=4.46.3
nnAudio>=0.3.3


# Audio processing
librosa>=0.11.0
soundfile>=0.13.1
numpy>=1.24.4

# Dimensionality reduction
scikit-learn>=1.6.0
umap-learn>=0.5.8

# Web framework
Flask>=3.0.3
flask-cors>=5.0.0
click>=8.1.8

# training
tensorboard>=2.16.2
pandas>=2.0.3
protobuf>=3.20.0,<5.0.0

# Progress bar
tqdm>=4.67.1

# Database
# sqlite3 is included in Python standard library

